<h1><%= @restaurant.name %></h1>

<div class='container'>
    <div class="row">
      <div class="col-md-10">
        <div class="col-md-6 list-unstyled white-hollow">
          <%= @restaurant.adress %>
          <%= @restaurant.zipcode %>
          <%= @restaurant.city %>
        </div>
        <div class="col-md-8">
          <%= image_tag @restaurant.photo_url, class: "medium" %>
        </div>
      </div>
      <hr>
      <% if @restaurant.comments.count > 0 %>
        <div class="col-md-6" >
          <% @restaurant.comments.all.each do |comment| %>
            <ul>
              <li>
                <h2> <%= comment.title %> </h2>
                <div> <%= comment.body %></div>
              </li>
            </ul>
          <% end %>
        </div>
      <% end %>
      <div class="col-md-8">
        <%= form_for @restaurant.comments.build do |form|%>
        <%= form.hidden_field :restaurant_id %>
          <div class="form-group col-sm-10">
              <%= form.label :title %>
              <%= form.text_field :title, class: "form-control" %>
          </div>
          <div class="form-group col-sm-10">
             <%= form.label :Message %>
             <%= form.text_field :body, class: "form-control"%>
          </div>
          <div class="form-group col-sm-10">
              <%= form.submit class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>

  </div>